@property --bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5d04e;
}

@property --description-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #535050;
}

body {
    position: relative;
    background: var(--bg-color);
    display: flex;
    justify-content: center;                                                                                                                              
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
    main {
        width: 100%;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: min(19rem, 100% - 3.5rem);
        border-radius: 1rem;
        box-shadow: 4px 4px 0px black; 
        margin-inline: auto;
        padding: 1rem;
        background-color: white;
        font-size: 12px;

        img {
            border-radius: 10px;
        }

        .tag {
            flex-basis: auto;
            width: fit-content;
            padding: 8px 15px;
            background: #f5d04e;
            font-weight: bold;
            border-radius: 8px;
        }

        .article-title {
            font-weight: bold;
            font-size: 18px;
            margin: 0px;
        }
        .article-title:hover {
            color: var(--bg-color);
            cursor: pointer;
        }

        .article-description {
            color: var(--description-color);
        }

        .author {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-weight: bold;

            img {
                width: 1.5rem;
            }
        }
    }


    .attribution {
        position: absolute;    
        bottom: 0;
        padding: 1rem;
    }
}

