body {
    position: relative;
    background: #f5d04e;
    display: flex;
    justify-content: center;                                                                                                                              
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
    .card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 310px;
        border-radius: 15px;
        box-shadow: 4px 4px 0px black; 
        padding: 15px;
        background-color: white;
        font-size: 12px;

        img {
            border-radius: 10px;
        }

        .tag {
            flex-basis: auto;
            width: fit-content;
            padding: 8px 15px;
            background: #f5d04e;
            font-weight: bold;
            border-radius: 8px;
        }

        .article-title {
            font-weight: bold;
            font-size: 18px;
            margin: 0px;
        }

        .article-description {
            color: #535050;
        }

        .author {
            display: flex;
            gap: 10px;
            font-weight: bold;

            img {
                width: 20px;
            }
        }
    }


    .attribution {
        position: absolute;    
        bottom: 0;
    }
}

